In [1]:
#importing necessary packages
import pandas as pd 
import numpy as np
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn import preprocessing

In [3]:
#importing dataset
salary_train = pd.read_csv('SalaryData_Train.csv')
salary_train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
# importing test dataset
salary_test = pd.read_csv('SalaryData_Test.csv')
salary_test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [6]:
salary_train.columns

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [7]:
salary_test.columns

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [8]:
string_columns=['workclass','education','maritalstatus','occupation','relationship','race','sex','native']

In [11]:
#label encodeing
label_encoder=preprocessing.LabelEncoder()
for i in string_columns:
    salary_train[i]=label_encoder.fit_transform(salary_train[i])
    salary_test[i]=label_encoder.fit_transform(salary_test[i])

In [12]:
#splitting the data into train1,train2
col_names=list(salary_train.columns)
train_1=salary_train[col_names[0:13]]
train_2=salary_train[col_names[13]]
test_1=salary_test[col_names[0:13]]
test_2=salary_test[col_names[13]]

In [13]:
#gaussian NB
Gmodel=GaussianNB()
train_pred_gau=Gmodel.fit(train_1,train_2).predict(train_1)

In [14]:
#fitting on train data and predicting on test data
test_pred_gau=Gmodel.fit(train_1,train_2).predict(test_1)

In [15]:
#accuracy score on train data using gaussian NB
train_acc_gau=np.mean(train_pred_gau==train_2)
train_acc_gau

0.7953317197705646

In [16]:
#accuracy score  on test data using gaussian NB
test_acc_gau=np.mean(test_pred_gau==test_2)
test_acc_gau

0.7946879150066402

In [17]:
#confusion matrix for gaussian model 
from  sklearn.metrics import confusion_matrix,classification_report
cfm = confusion_matrix(test_2,test_pred_gau)
print(cfm)

[[10759   601]
 [ 2491  1209]]

In [18]:
# classification_report matrix for 
clf = classification_report(test_2,test_pred_gau)
print(clf)

              precision    recall  f1-score   support

       <=50K       0.81      0.95      0.87     11360
        >50K       0.67      0.33      0.44      3700

    accuracy                           0.79     15060
   macro avg       0.74      0.64      0.66     15060
weighted avg       0.78      0.79      0.77     15060

In [19]:
#creating modle using multinomial NB
Mmodel=MultinomialNB()
train_pred_multi=Mmodel.fit(train_1,train_2).predict(train_1)

In [20]:
#fitting on train data and predict on test data
test_pred_multi=Mmodel.fit(train_1,train_2).predict(test_1)

In [21]:
# accuaracy of train data using multinomial NB
train_acc_multi=np.mean(train_pred_multi==train_2)
train_acc_multi

0.7729186698053778

In [22]:
# accuracy of test data using multinomial NB
test_acc_multi=np.mean(test_pred_multi==test_2)
test_acc_multi

0.7749667994687915

In [23]:
# confusion matrix for multinomial model 
CFM = confusion_matrix(test_2,test_pred_multi)
CFM

array([[10891,   469],
       [ 2920,   780]], dtype=int64)

In [24]:
# classification report for multinomial NB
CLF = classification_report(test_2,test_pred_multi)
print(CLF)

              precision    recall  f1-score   support

       <=50K       0.79      0.96      0.87     11360
        >50K       0.62      0.21      0.32      3700

    accuracy                           0.77     15060
   macro avg       0.71      0.58      0.59     15060
weighted avg       0.75      0.77      0.73     15060